<%= form_with(model: driver, local: true) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :dl_number %>
    <%= form.text_field :dl_number, class: 'form-control' %>
  </div>
    
  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_area :address, class: 'form-control' %>
  </div>  

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :img %>
    <%= form.text_field :img, class: 'form-control' %>
  </div>  

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>  
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
