<p id="notice"><%= notice %></p>

<h1>Drivers</h1>

<%
=begin%>
 <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Drivers License Number</th>
      <th scope="col">Address</th>
      <th scope="col">Phone</th>
      <th scope="col">Img</th>
      <th scope="col">Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.name %></td>
        <td><%= driver.dl_number %></td>
        <td><%= driver.address %></td>
        <td><%= driver.phone %></td>
        <td><%= driver.img %></td>
        <td><%= driver.email %></td>
        <td><%= link_to 'Show', driver %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
<%
=end%>



<div class="container-sm">
  <div class="d-flex justify-content-between">
    <% @drivers.each do |driver| %>
      <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
        <div class="card-body py-0">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        
            <div class="col-4 px-0">
              <%= image_tag "jwebb.jpg", height: 90 %>
            </div>

            <div class="row">
              <div class="card-body">
                <div class="row d-flex justify-content-center">
                  <div class="col-8 pr-0" alt="Responsive image">
                    <%= image_tag "5-star-rating.png", height: 20 %>
                  </div>
                </div>
                <div class="row d-flex justify-content-center"> 
                  <div class="col-8 pr-0">
                    <small class="text-muted">Member Since: 2015</small>
                  </div>
                  
                </div>
              </div>
            </div>
          


            <div class="card-body pl-0 pr-0">
              <div class="col pl-0">
                  <div class="col mb-2 pl-0">
                    <%= driver.phone %>
                  </div>
                  <div class="col mb-3 pl-0">
                    <%= driver.email %>
                  </div>
              </div>
            </div>
            <div class="card-body text-center py-0">
              
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary"><td><%= link_to 'Profile', driver %></td></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><td><%= link_to 'Edit', edit_driver_path(driver) %></td></button>
                  <button type="button" class="btn btn-sm btn-outline-secondary"><td><%= link_to 'Delete', driver, method: :delete, data: { confirm: 'Are you want to delete profile?' } %></td></td></button>
                </div>
              
              
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
      
    

<br>

<%= link_to 'New Driver', new_driver_path %>
